*{
    font-family: sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}


body{
    background-color: #333;
}

.container{
height: 90%;
display: grid;
grid-template-columns: 5fr 3fr;
padding: 10px;
margin: 10px;
gap: 15px;


}

.filtersBox{
    display: flex;
    flex-direction: column;
    gap: 30px;
    direction: rtl;

}


.filtersBox div{
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.imageBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.imageBox img{
    max-width: 50vw;
    max-height: 70vh;
    z-index: 5;
}

.imageBox input{
    display: none;

}

.imageBox label{
    border-style: dashed;
    padding: 10px;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.5s;
    

}
.imageBox label:hover{
    border-radius: 8px;
    border-color: #ffffff;
    background-color: #222;
}

#buttonsBox{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}


#buttonsBox #reset{
    background-color: #d43737b9;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
   

}

#buttonsBox #reset:hover{
    background-color: #971111b9;
    scale: 1.2;
    letter-spacing: 1px;

}

#buttonsBox a{
    background-color: #37d44cb9;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;

}

#buttonsBox a:hover{
    background-color: #19870cb9;
    scale: 1.2;
    letter-spacing: 1px;
}


@media screen and (max-width : 650px) {
    .container{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .imageBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .imageBox img{
        max-width: 80vw;
        
    }

}
















